.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px 20px 20px;
    background-color: #ffff;
}

.storyText {
    text-align: center;
}

.storyText h3 {
    font-family: 'Just Another Hand', cursive;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}




