.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #4a4a4a;
  gap: 30px;
}

.footerText p {
  font-family: Just Another Hand, cursive;
}

.footerText {
  color: white;
  font-size: 14px;
  display: flex;
  gap: 20px;
}

@media (min-width: 801px) {
  .footer {
    padding: 3rem 2rem;
  }

  .footerContent {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
