
.container {
    display: flex;
    flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}

.kategori {
    font-family: 'Just Another Hand', cursive;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 400;
  }

.productCard {
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 250px;
    text-align: center;
    transition: transform 0.2s;
}

.productCard img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 10px;
}

.pizza {
height: 0px;
width: auto;
}

h3 {
  font-size: 20px;
}

